/**
 * Author(s): V. Fernando Lujan, Leandro Ostera Villalva
 ******
 * Notes:
 ******
 * This is a responsive layout based on the 960-grid system. It has 12 columns and adapts to a wide range of
 * mobile devices' width's. Combined with JS,  this makes for some awesome web-appy stuff! Oh yeah,  and it's
 * built on top of Twittter's Bootstrap framework.
 *
 *
 ******
 * Update (16/Jun/2012):
 ******
 * Converted everything but this file to Stylus syntax. Modularized.
 *
 *****/

/* @import url('http://fonts.googleapis.com/css?family=Open+Sans:400, 300, 600');
*/ 

body
  font-family 'Open Sans', helvetica, arial
  background-image url('/images/bg.png')
  background-repeat repeat

a
  color #467fc3

.container
  max-width 960px