.navbar {
  z-index:15;
}

.navbar .navbar-inner {
  padding:0;
}

.navbar .btn-navbar {
  margin:5px;
  padding:10px;
}

.navbar .nav {
  margin:0;
}

.navbar .nav li a {
  font-family:'Open Sans', helvetica, arial;
  padding:11px;
  font-size:14px;
  color:#4c4008;
  text-transform:uppercase;
  font-weight:700;
  margin-bottom:3px;
  text-shadow:1px 1px 0 #ffdd76;
}

.navbar .nav li a:hover {
  background:0;
  color:#000;
}

.navbar .nav li.home a img {
  position:relative;
  top:-2px;
}

.navbar .nav li.home a:hover {
  background:0;
}

.navbar .nav li.active a {
  color:#1e1903;
  text-shadow:1px 1px 0 #b99835;
}

.navbar .in li a {
  color:#222;
  text-shadow:1px 1px 0 #FFF;
}

.navbar .in li a:hover {
  color:#4c4008;
  text-shadow:1px 1px 0 #ffdd76;
  background-color:#CA8D00;
}

.navbar .navbar-inner {
  background:0;
  background-color:#dadada;
  background-image:url('/images/nav-bg.png');
  background-position:top;
  background-repeat:repeat-x;
}

ul#register
  float right