#main
  background-color #ccc
  background-image url('/images/main-content-bg.png')
  background-repeat repeat-x
  border-left 1px solid #e3e3e3
  border-right 1px solid #979797
  border-top 1px solid #e3e3e3
  border-bottom 1px solid #979797
  padding 10px
  margin 4px
  width 98%
  min-height 100px
  min-width 204px
  border-radius 8px

  h2
    font-weight 400
    text-shadow 1px 1px 0 #FFF
    margin-bottom 20px

  .content-block
    padding 0
    margin 0
    margin-left 10px
    background-color #FFF
    border 1px solid #999
    margin-bottom 10px
    -moz-box-shadow 0 2px 2px 0 #999
    -webkit-box-shadow 0 2px 2px 0 #999
    -khtml-box-shadow 0 2px 2px 0 #999
    box-shadow 0 2px 2px 0 #999

  .content-block h3
    color #373737
    text-shadow 1px 1px 0 #FFF
    font-size 11px
    padding 0
    margin 0
    padding-left 10px
    display block
    border-left 1px solid #FFF
    border-right 1px solid #CCC
    border-top 1px solid #FFF
    border-bottom 1px solid #989898
    background-image url('/images/content-box-header.gif')
    background-repeat repeat-x
    background-color #cacaca

  .content-block .content
    padding 10px

  .featured h3
    border-left 1px solid #FFF
    border-right 1px solid #dfb051
    border-top 1px solid #FFF
    border-bottom 1px solid #cc9e42
    background-image url('/images/content-box-header-featured.gif')
    background-color #e0c38a