#side
  background-image url('/images/sidebar-bg.png')
  text-shadow 1px 1px 0 #000; 
  border-radius 8px
  padding 10px
  width 100%
  margin 4px

  h1, h2, h3, h4, h5, h6
    color #777
  
  .btn-wrapper
    float left
    width 100%
  
  .sidebar-block
    margin-top 15px
    width 100%
    float left
  
  .sidebar-block h3
    border-bottom #333 2px solid
    color #ccc
    font-size 11px
  
  .sidebar-block h3 img
    float right
    margin-top 10px
  
  .sidebar-block .message
    float left
    width 100%
    text-align center
    color #555
    margin-top 10px
    margin-bottom 10px
  
  .user-profile img
    float left
    border-right 1px solid #444
    border-left 1px solid #000
    border-bottom 1px solid #444
    border-top 1px solid #000
    margin-right 10px
  
  .user-profile a.user-name-link
    display block
    width 100%
    color #FFF
    font-size 16px
  
  .user-profile span.user-location
    display block
    width 100%
    color #666
  
  .user-profile a.change-city
    display block
    margin-top 10px
  
  .activity-feeds ul
    float left
    padding 0
    margin 0
    list-style none
    width 100%
    border-bottom 3px #333 solid
  
  .activity-feeds ul li
    margin 0
    float left
    padding 3px 8px
  
  .activity-feeds ul li a
    color #CCC
    text-shadow 1px 1px 0 #000
    font-size 10px
  
  .activity-feeds ul li a:hover
    color #FFF
    text-decoration none
  
  .activity-feeds ul li.active
    background-color #333