span.add-on#ok
  i.icon-ok
    margin-top 2px
    margin-right 3px

span.add-on#error
  i.icon-remove
    margin-top 3px
    margin-right 3px

span#separator
  margin-left 7px
  margin-right 7px

.loginPartial
  margin-left 25%

#map
  min-height 200px