.interface-section {
  float:right;
  margin-bottom:25px;
}

.interface-section .user-alerts-menu {
  list-style:none;
  margin:0;
  padding:0;
}

.interface-section .user-alerts-menu li {
  padding:0;
  margin:0;
  float:right;
  background-image:url('/images/user-alerts-bg.png');
  background-repeat:repeat-x;
  padding:6px 10px 7px 10px;
  -moz-box-shadow:0 2px 2px 0 #777;
  -webkit-box-shadow:0 2px 2px 0 #777;
  -khtml-box-shadow:0 2px 2px 0 #777;
  box-shadow:0 2px 2px 0 #777;
}

.interface-section .user-alerts-menu li a {
  clear:none;
  float:left;
  margin:0;
  padding:0;
  color:#222;
  text-shadow:1px 1px 0 #FFF;
}

.interface-section .user-alerts-menu li a:hover {
  text-decoration:none;
}

.interface-section .user-alerts-menu li img {
  clear:none;
  position:relative;
  float:left;
  top:3px;
  margin-right:6px;
}

.interface-section .user-alerts-menu li:hover {
  background-image:url('/images/user-alerts-bg-hover.gif');
}

.interface-section a.dropdown-toggle {
  display:block;
  width:29px;
  height:29px;
  background-color:#FFF;
  border:1px solid #CCC;
  border-left:0;
  border-right:0;
  -moz-box-shadow:0 2px 2px 0 #777;
  -webkit-box-shadow:0 2px 2px 0 #777;
  -khtml-box-shadow:0 2px 2px 0 #777;
  box-shadow:0 2px 2px 0 #777;
}

.interface-section a.dropdown-toggle i {
  position:relative;
  top:5px;
  left:7px;
}

.interface-section .user-ui-menu {
  padding:0;
}

.interface-section .user-ui-menu li {
  padding:0;
  margin:0;
  background-image:url('/images/user-ui-bg.png');
  background-repeat:repeat-x;
  padding:6px 10px 7px 10px;
}

.interface-section .user-ui-menu li a {
  margin:0;
  padding:0;
  clear:none;
  background:0;
  color:#573e09;
  text-shadow:1px 1px 0 #ffc141;
}

.interface-section .user-ui-menu li a:hover {
  text-decoration:none;
}

.interface-section .user-ui-menu li img {
  clear:none;
  position:relative;
  float:left;
  top:3px;
  margin-right:6px;
}

.interface-section .user-ui-menu li:hover {
  background-image:url('/images/user-ui-bg-hover.gif');
}

.interface-section li.first {
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.interface-section li.last {
  -webkit-border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  -moz-border-radius-topright:3px;
  -moz-border-radius-bottomright:3px;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
}