/// Functions
//noneyet

/// Media queries
@media (min-width: 980px)
  #signin
    color white

@media (max-width: 980px) and (min-width: 768px) 
  #main
    width: 98%

  #side
    width: 98%
  
  .btn-navbar-user 
    display:none;
    visibility:hidden;

@media (max-width: 768px)

  #side    
    width:98%;
    margin: 0;

    .btn-navbar-user 
      display:block;
      visibility:visible;
  
  #main
    width:98%;
    margin: 0;

  .content-block 
    margin-left:0;

@media (max-width: 480px)
  #side
    width:92%;

    .btn-navbar-user 
      display:block;
      visibility:visible;
  
  #main
    width:92%;

    .content-block
      margin-left:0;

  .interface-section
    float:left;
    width:100%;

    .pull-right
      float:left;

    li
      width:100%;
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
      -khtml-border-radius:3px;
      border-radius:3px;
      behavior:url('_/border-radius.htc');

#span-block
  display: block;
  min-width: 10%;