#sidebar.register
  width: 43%
  min-height: 450px
  div
    text-align center

#main-content.register
  width: 43%
  min-height: 450px

#float-right
  margin-bottom -25px

i.icon-white
  margin-left -10px

#birth-select div.ui-datepicker
  float left
  zoom 0.70

#sign-up-1
  position relative
  z-index 0

#sign-up-2
  position relative
  z-index 1

#sign-up-3
  display none
  position relative
  z-index 2

#index-login
  margin-top -5px
  float right
