i
  width 32px
  height 32px
  opacity .6

.user-icon        
  background transparent url('http://d3jzxruh9il70w.cloudfront.net/images/user-icon.png') no-repeat 9px center
.user-add-icon        
  background transparent url('http://d3jzxruh9il70w.cloudfront.net/images/user-add-icon.png') no-repeat 9px center
.location-icon       
  width 26px
  background transparent url('http://d3jzxruh9il70w.cloudfront.net/images/location-icon.png') no-repeat 9px center
.occupation-icon
  background transparent url('http://d3jzxruh9il70w.cloudfront.net/images/location-icon.png') no-repeat 9px center
.hometown-icon
  width 36px
  background transparent url('http://d3jzxruh9il70w.cloudfront.net/images/hometown-icon.png') no-repeat 9px center
.edit-icon
  width 34px
  background transparent url('http://d3jzxruh9il70w.cloudfront.net/images/edit-icon.png') no-repeat 9px center
.cross-icon
  width 36px
  background transparent url('http://d3jzxruh9il70w.cloudfront.net/images/cross-icon.png') no-repeat 9px center
