section.tab-content
  section.tab-pane.active
    .hide-for-small
      overflow-x auto
      max-height 470px

    article.row
      max-width 90%

section.row#footer
  text-align center

section.six.columns.pull-six#events.panel.radius
  width 48%
  margin-right 2%

section.six.columns.push-six#what-is-play.panel.radius
  padding-top 12px

modal(data-backdrop="static",data-keyboard="false").modal.fade
  max-height 100%
  max-width 100%

  input(type="text").input-xlarge
    max-width 80%

  span.add-on i
    margin-top 4px

@media (max-width: 767px)
  modal(data-backdrop="static",data-keyboard="false").modal.fade
    width 360px    
    left 75%

    .label-icon
      display: none