a
  text-decoration none
  color #333
a:visited
  color #333
a:hover
  color #555

.well
  min-height 20px
  padding 6px
  margin-bottom 20px
  -webkit-border-radius 4px
  -moz-border-radius 4px
  border-radius 4px
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.05)
  -moz-box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.05)
  box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.05)
  background-color #FAFAFA
  padding-bottom 20px

section.limit#index
  max-width 350px

section#index
  
  h1
    padding-top 10px

  background-color white
  border-radius 8px
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);

  button
    max-width 210px

  input
    margin-bottom 5px