section#index
    float center
    margin 0 auto
    color white
    background-image url('http://d3jzxruh9il70w.cloudfront.net/old_images/sidebar-bg.png')
    border-left 1px solid #5F5F5F

    form
        padding 10px

        label
            font-size 1.1em
            color white