#header
  text-align center
  padding-bottom 15px

#footer
  margin-top 10px
  text-align center
  text-shadow 1px 1px 0 #FFF

#sidebar
  h1, h2, h3, h4, h5, h6
    color #777

#generic
  text-align center