section#login

  form
    #errors
      margin-left 15px

    section.four.column
      p
        margin-top 2px

    section.twelve.columns
      button.button#register
        margin 0 auto
        max-width none
        width 100%
        margin-bottom 10px