li.divider-vertical#submenu
  margin-left 20px
  margin-right -20px

form#nav-search
  span.add-on#search-icon
    i.icon-search
      margin-top 3px
      margin-left -25px
  i.icon-off
    margin-top 3px
    margin-left 25px