section#profile

  #heading
    *
      margin 0
      padding 0

    h2
      text-transform uppercase
      margin-left 5px
      font-size 2em

    #icons
      h4
        float left
        margin 5px        
        color #AAA
      i
        float left
        margin-right 2px

      .location-icon
        margin-left 5px
      .hometown-icon
        margin-top -1px
        margin-left 12px

  #right
    *
      float right

    img
      margin-bottom 1px

    button
      width 150px
      margin 1px 0px

  #menu
    ul
      width 100%
      margin 0px      
      padding 0px
      li
        width 100%
        padding 10px
        margin 0px 5px
        background-color #EEE
        border 1px solid #CCC
        border-radius 5px
        a
          cursor pointer

  #sections

    #home
      blockquote
        background #f9f9f9
        border-left 10px solid #ccc
        margin 1.5em 10px
        padding .5em 10px
        quotes "\201C""\201D""\2018""\2019"
      blockquote:before
        color #ccc
        content open-quote
        font-size 4em
        line-height .1em
        margin-right .25em
        vertical-align -.4em
      blockquote p
        display inline

    #info
      margin-top 30px

  i
    display block
    width 32px
    height 32px    

  .user-icon        
    background transparent url('http://imakeapps.alwaysdata.net/playcdn/images/user-icon.png') no-repeat 9px center
  .user-add-icon        
    background transparent url('http://imakeapps.alwaysdata.net/playcdn/images/user-add-icon.png') no-repeat 9px center
  .location-icon       
    width 26px
    background transparent url('http://imakeapps.alwaysdata.net/playcdn/images/location-icon.png') no-repeat 9px center
  .occupation-icon
    background transparent url('http://imakeapps.alwaysdata.net/playcdn/images/location-icon.png') no-repeat 9px center
  .hometown-icon
    width 36px
    background transparent url('http://imakeapps.alwaysdata.net/playcdn/images/hometown-icon.png') no-repeat 9px center

