section#profile-edit

  h1  
    font-size 1em
    padding-top 0
    margin-top 0

  #first-column
    form
      .control-group
        margin-left -10px

      .form-actions
        button
          margin 0 4px

.modal#preview-modal

  .modal-body
    height 100px

  img
    float left
    margin-right 10px
  section#info
    float left
    padding-right 20px
    border-right 1px solid
    span
      float left
    span#username
      font-style italic
      font-weight lighter
    span#fullname
      font-weight bold

  blockquote#bio
    float left
