#sidebar
#main-content
  form(action="http://d3jzxruh9il70w.cloudfront.net/images/",method="post")#picture
    input(type="file").hide#new-picture

  section#menu
    ul.nav.nav-tabs
      li.active
        a(data-target="section.tab-pane#home", data-toggle="tab") Home
      li
        a(data-target="section.tab-pane#info", data-toggle="tab") Info
      li
        a(data-target="section.tab-pane#buddies", data-toggle="tab") Social
      //
        li
          a(data-target="section.tab-pane#interests", data-toggle="tab") Interests
        li
          a(data-target="section.tab-pane#companies", data-toggle="tab") Companies
      li
        a#follow Follow
        a#unfollow Unfollow

  section.tab-content#sections
    section.tab-pane.active#home
      section#bio
        blockquote
          textarea#bio {{ user.bio }}

      section#buttons.pull-right
        button.btn.btn-primary#saveBio Save 

    section.tab-pane#info
      form.form-horizontal
        fieldset
          .control-group#birthday
            label.control-label Birthday
            .controls
              span.uneditable-input.input-xlarge#birthday {{ user.birthday }}

          .control-group#name
            label.control-label Full name
            .controls
              input.input-medium(type="text", value="{{ user.name.first }}")#firstname
              input.input-medium(type="text", value="{{ user.name.last }}")#lastname

          .control-group#gender
            label.control-label Gender
            .controls
              label.radio
                input#gender-male(type='radio', name='gender', value='male')
                | Male
              label.radio
                input#gender-female(type='radio', name='gender', value='female')
                | Female

          .control-group#hometown
            label.control-label Hometown
            .controls
              input.input-xlarge(type="text", value="{{ user.hometown }}")#hometown

    section.tab-pane#buddies
      h3 Friends
      ul.follows#put-friends-here
      h3 Following
      ul.follows#put-follows-here
      h3 Followers
      ul.follows#put-followers-here