section.row#featured

  section.nine.columns#first-column  
    section.accordian
      ul
        li
          .image_title
            a(href='#') Toy Story 2
          a(href='#')
            img(src='http://thecodeplayer.com/uploads/media/40Ly3VB.jpg')
        li
          .image_title
            a(href='#') Wall-E
          a(href='#')
            img(src='http://thecodeplayer.com/uploads/media/00kih8g.jpg')
        li
          .image_title
            a(href='#') Up
          a(href='#')
            img(src='http://thecodeplayer.com/uploads/media/2rT2vdx.jpg')
        li
          .image_title
            a(href='#') Cars 2
          a(href='#')
            img(src='http://thecodeplayer.com/uploads/media/8k3N3EL.jpg')

      h1 Some title

    
  section.three.columns#second-column
    form
      legend More featured

      p Some description