.logo-section.span3
  a(href='/home')
    img#logo(src='http://d3jzxruh9il70w.cloudfront.net/old_images/logo.png')
      
.interface-section.span7
  .user-alerts
    ul.user-alerts-menu
      li.last
        img(src='http://d3jzxruh9il70w.cloudfront.net/old_images/ico-message.png')
        a(href='messages') Messages
      li
        img(src='http://d3jzxruh9il70w.cloudfront.net/old_images/ico-notification.png')
        a(href='notifications') Notifications
  .user-ui
    ul.nav.pull-right
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
        i.caret
        ul.dropdown-menu.user-ui-menu
          li
            img(src='http://d3jzxruh9il70w.cloudfront.net/old_images/ico-logout.png')
            a(href='logout') Logout
          li
            img(src='http://d3jzxruh9il70w.cloudfront.net/old_images/ico-settings.png')
            a(href='settings') My Settings