section.eleven.columns.centered#content
  section.row
    section.nine.columns.push-three-on-medium#right
    section.three.columns.hide-for-medium.pull-nine#left
        h1 Network Activity
        section#feed
          span#element
            p#text You are now following Leandro
            span#time.hide-for-medium just now
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 20 secs ago
          span#element
            p#text TobaCCCo nite starts in 3 hours!
            span#time.hide-for-medium 3 mins ago
          span#element
            p#text Maria has invited you to TobaCCCo nite
            span#time.hide-for-medium 7 secs ago
          span#element
            p#text Maria is now following you
            span#time.hide-for-medium 10 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time.hide-for-medium 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time.hide-for-medium 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time.hide-for-medium 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago                                                
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago            
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago            
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago            
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago                                                            


        h1 Other Activity
        section#feed
          span#element
            p#text Jeremie now follows Leandro
            span#time.hide-for-medium just now
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 20 secs ago
          span#element
            p#text TobaCCCo nite starts in 3 hours!
            span#time.hide-for-medium 3 mins ago
          span#element
            p#text Maria has invited you to TobaCCCo nite
            span#time.hide-for-medium 7 secs ago
          span#element
            p#text Maria is now following you
            span#time.hide-for-medium 10 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time.hide-for-medium 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time.hide-for-medium 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time.hide-for-medium 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago    
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time.hide-for-medium 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time.hide-for-medium 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time.hide-for-medium 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago  
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time.hide-for-medium 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time.hide-for-medium 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time.hide-for-medium 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago  
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time.hide-for-medium 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time.hide-for-medium 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time.hide-for-medium 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago            
          span#element
            p#text Jeremie now follows Leandro
            span#time.hide-for-medium just now
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 20 secs ago
          span#element
            p#text TobaCCCo nite starts in 3 hours!
            span#time.hide-for-medium 3 mins ago
          span#element
            p#text Maria has invited you to TobaCCCo nite
            span#time.hide-for-medium 7 secs ago
          span#element
            p#text Maria is now following you
            span#time.hide-for-medium 10 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time.hide-for-medium 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time.hide-for-medium 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time.hide-for-medium 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago    
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time.hide-for-medium 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time.hide-for-medium 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time.hide-for-medium 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago  
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time.hide-for-medium 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time.hide-for-medium 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time.hide-for-medium 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago  
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time.hide-for-medium 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time.hide-for-medium 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time.hide-for-medium 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time.hide-for-medium 1 hour ago   

