section.eleven.columns.centered#content
  section.row
    section.three.columns#left
        h1 Network Activity
        section#feed
          span#element
            p#text You are now following Leandro
            span#time just now
          span#element
            p#text Leandro sent you a new message
            span#time 20 secs ago
          span#element
            p#text TobaCCCo nite starts in 3 hours!
            span#time 3 mins ago
          span#element
            p#text Maria has invited you to TobaCCCo nite
            span#time 7 secs ago
          span#element
            p#text Maria is now following you
            span#time 10 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago                                                
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago            
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago            
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago            
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago                                                            


        h1 Other Activity
        section#feed
          span#element
            p#text Jeremie now follows Leandro
            span#time just now
          span#element
            p#text Leandro sent you a new message
            span#time 20 secs ago
          span#element
            p#text TobaCCCo nite starts in 3 hours!
            span#time 3 mins ago
          span#element
            p#text Maria has invited you to TobaCCCo nite
            span#time 7 secs ago
          span#element
            p#text Maria is now following you
            span#time 10 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago    
          span#element
            p#text Leandro sent you a new message
            span#time 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago  
          span#element
            p#text Leandro sent you a new message
            span#time 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago  
          span#element
            p#text Leandro sent you a new message
            span#time 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago            
          span#element
            p#text Jeremie now follows Leandro
            span#time just now
          span#element
            p#text Leandro sent you a new message
            span#time 20 secs ago
          span#element
            p#text TobaCCCo nite starts in 3 hours!
            span#time 3 mins ago
          span#element
            p#text Maria has invited you to TobaCCCo nite
            span#time 7 secs ago
          span#element
            p#text Maria is now following you
            span#time 10 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago    
          span#element
            p#text Leandro sent you a new message
            span#time 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago  
          span#element
            p#text Leandro sent you a new message
            span#time 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago  
          span#element
            p#text Leandro sent you a new message
            span#time 39 mins ago
          span#element
            p#text Bane sent you a new message
            span#time 40 mins ago
          span#element
            p#text Michael Jackson is now following you
            span#time 45 mins ago
          span#element
            p#text Jackie Chan invited you to Groovy Movie 3
            span#time 50 mins ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago
          span#element
            p#text Leandro sent you a new message
            span#time 1 hour ago                                                 

    section.nine.columns#right