form.form-horizontal#login
  section#errors.control-group.hide
    | Please fill in both fields
  .control-group
    label.control-label(for='inputEmail') Username
    .controls
      input#username(type='text', placeholder='username')
  .control-group
    label.control-label(for='inputPassword') Password
    .controls
      input#password(type='password', placeholder='password')
  .control-group
    .controls
      button.btn#login Sign in
      button.btn.btn-success#register Register right now