section.row#messages
  form.form-horizontal
    section.nine.columns#first-column  

      article.message
        a(href='/messages/read/someId')
          span#title Welcome to Play! (Title or 48 char excerpt...)
          span#date Today, 3 hours ago

      article.message
        a(href='/messages/read/someId')
          span#title Welcome to Play! (Title or 48 char excerpt...)
          span#date Today, 3 hours ago

      article.message
        a(href='/messages/read/someId')
          span#title Welcome to Play! (Title or 48 char excerpt...)
          span#date Today, 3 hours ago

      article.message
        a(href='/messages/read/someId')
          span#title Welcome to Play! (Title or 48 char excerpt...)
          span#date Today, 3 hours ago

      article.message
        a(href='/messages/read/someId')
          span#title Welcome to Play! (Title or 48 char excerpt...)
          span#date Today, 3 hours ago

      article.message
        a(href='/messages/read/someId')
          span#title Welcome to Play! (Title or 48 char excerpt...)
          span#date Today, 3 hours ago

                      
    section.three.columns#second-column
      form.form-horizontal
        legend Vertical Menu