section.eleven.columns.centered#inner
  section#dropdown.dropdown
    section.dropdown-toggle(data-toggle="dropdown", data-target="ul#dropdown")#profile
      img(src='http://imakeapps.alwaysdata.net/playcdn/images/userpic.png',height="32px")#avatar
      span#username {{ user.username }}     
      b.caret

    ul.dropdown-menu#menu
      li
        a(href="/profile") Edit Profile
      li
        a(href="/relocate") Relocate
      li
        a(href="/logout") Logout

  section#toolbar
    a(href="/messages")#msg
    a(href="/settings")#cog
    a(href="/featured")#play


  section#categories
    ul
      li
        a(href="/featured") Featured
      li
        a(href="/nightlife") Nightlife
      li
        a(href="/arts") Arts
      li
        a(href="/shows") Shows
      li
        a(href="/sports") Sports
      li
        a(href="/culinary") Culinary
      li
        a(href="/buzz") Buzz

  section#search
    form
      input(type="search",placeholder="Look up anything...")
