section.eleven.columns.centered#inner
  section#profile    
    a(href="/avatar")
      img(src='/images/userpic.png',height="32px")#avatar
    span#username
      a(href="/profile") {{ user.username }}

    span#location
      a(href="/location") ({{ user.location.str }})

  section#brand
    a(href="/")
      i.play-logo

  section#categories
    ul
      li
        a(href="/featured") Featured
      li
        a(href="/nightlife") Nightlife
      li
        a(href="/arts") Arts
      li
        a(href="/shows") Shows
      li
        a(href="/sports") Sports
      li
        a(href="/culinary") Culinary
      li
        a(href="/buzz") Buzz

  section#search
    form
      input(type="search",placeholder="Look up anything...")
