section.eleven.columns.centered#inner
  section#profile
    img(src='/images/userpic.png',height="32px")#avatar
    span#username Username
    span ( 
    span#location Location
    span )

  section#brand
    a(href="/")
      i.play-logo

  section#categories
    ul
      li
        a(href="/category") Category
      li
        a(href="/category") Category
      li
        a(href="/category") Category
      li
        a(href="/category") Category
      li
        a(href="/category") Category
      li
        a(href="/category") Category
      li
        a(href="/category") Category

  section#search
    form
      input(type="search",placeholder="Look up anything...")
