.navbar-inner
  .container

    a.btn.btn-navbar.btn-widget(data-toggle='collapse', data-target='.nav-collapse')
      span.icon-bar
      span.icon-bar
      span.icon-bar

    .nav-collapse
      ul.nav
        li.home
          a(href='#')
            img(src='http://d3jzxruh9il70w.cloudfront.net/old_images/ico-home.png')
        li
          a(href='active') Active
        li
          a(href='arts') Arts/Photography
        li
          a(href='culinary') Culinary
        li
          a(href='fashion') Fashion
        li
          a(href='buzz') Buzz
        li
          a(href='music') Music
        li
          a(href='nightlife') Nightlife/Concerts
        li
          a(href='sports') Sports
        li
          a(href='travel') Travel