.navbar.navbar-inverse
  .navbar-inner#inner
    .container-fluid
      a.btn.btn-navbar.collapsed(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar

      
      section#profile
        span#avatar
          a(href="/profile/avatar")
            img(src="http://d3jzxruh9il70w.cloudfront.net{{ user.avatar }}", height="32px", width="32px")#avatar
        span#username
          a(href="/profile") {{ user.username }}     
        span#location 
          a(href="/relocate") ({{user.location.region}})

      .nav-collapse
        p.navbar-text.pull-right
          section#logout
            a(href="/logout")#logout

          section#search
            form
              input(type="search",placeholder="Look up anything...")