#sidebar
  a.btn.btn-navbar.btn-navbar-user(data-toggle='collapse', data-target='.sidebar-content')
    span.icon-user.icon-white
  .sidebar-content.collapse.in
    .user-profile.sidebar-block
      img(src='http://d3jzxruh9il70w.cloudfront.net{{ user.avatar }}', width="65px", height="65px")
      a.user-name-link(href='#') {{ user.name.first }} {{ user.name.last }}
      span.user-location {{ user.hometown }}
      a.change-city(href='#') Change City
    .friends-list.sidebar-block
      h3
        | FRIENDS
        img(src='http://d3jzxruh9il70w.cloudfront.net/old_images/ico-collapse.png')
      span.message You have no friends to display.
    .meeting-spots.sidebar-block
      h3
        | MY MEETING SPOTS
        img(src='http://d3jzxruh9il70w.cloudfront.net/old_images/ico-collapse.png')
      span.message You have no upcoming events or meeting spots. 
    .activity-feeds.sidebar-block
      ul
        li.active
          a(href='#') USER ACTIVITY
        li
          a(href='#') NETWORK ACTIVITY
      span.message There is no activity to display.

#main-content
  h2 HOME / HIGHLIGHTS
  .row
    .span4.content-block.featured
      h3 FEATURED
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    .span3.content-block
      h3 NIGHTLIFE/CONCERTS
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    .span2.content-block
      h3 CULINARY
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
  .row
    .span2.content-block
      h3 SHOPPING
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    .span4.content-block
      h3 SPORTS
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    .span3.content-block
      h3 BUZZ
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
  .row
    .span4.content-block
      h3 MUSIC
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    .span5.content-block
      h3 ARTS/PHOTOGRAPHY
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
  .row
    .span4.content-block
      h3 TRAVEL
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    .span5.content-block
      h3 ACTIVE
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
