section.row#profile
  section.nine.columns
    section.row
      section.twelve.columns#heading
        h2 {{ user.name.first }} {{ user.name.last }}
        section#icons
          i.user-icon
          h4#username {{ user.username }} 
          i.location-icon
          h4#location {{ user.location.city }}

    section.row
      section.twelve.columns
        section#menu
          ul.nav.nav-tabs.horizontal-list
            li.active
              a(data-target="section.tab-pane#home", data-toggle="tab") Home
            li
              a(data-target="section.tab-pane#info", data-toggle="tab") Info
            li
              a(data-target="section.tab-pane#buddies", data-toggle="tab") Buddies
            li
              a(data-target="section.tab-pane#interests", data-toggle="tab") Interests
            li
              a(data-target="section.tab-pane#companies", data-toggle="tab") Companies

        section.tab-content#sections
            section.tab-pane.active#home
              section.row
                section.twelve.columns
                  blockquote {{{ user.bio }}}
                  i.hide.icon-edit

            section.tab-pane#info
              section.row
                section.twelve.columns
                  form.form-horizontal
                    .control-group
                      label.control-label First name
                        .controls
                          input.input-xlarge                    


            section.tab-pane#buddies
                section.row
                  section.eleven.columns.centered

                    section.twelve.columns
                      h4 Buddies

            section.tab-pane#interests
                section.row
                  section.eleven.columns.centered

                    section.twelve.columns
                      h4 Interests

            section.tab-pane#companies
                section.row
                  section.eleven.columns.centered

                    section.twelve.columns
                      h4 Companies



  section.three.columns#right
    img(src="http://imakeapps.alwaysdata.net/playcdn/images/userpic.png",width="150px",height="150px")
    button.button.btn Add as Friend
    button.button.btn Message
    button.button.btn Invite