section.row#profile
  section.nine.columns
    section.row
      section.twelve.columns#heading
        h2 {{ user.name.first }} {{ user.name.last }}
        section#icons
          i.user-icon
          h4#username {{ user.username }} 
          i.location-icon
          h4#location {{ user.location.city }}
          i.hometown-icon
          h4#hometown {{ user.location.city }}


    section.row
      section.twelve.columns
        section#menu
          ul.nav.nav-tabs.horizontal-list
            li.active
              a(data-target="section.tab-pane#home", data-toggle="tab") Home
            li
              a(data-target="section.tab-pane#info", data-toggle="tab") Info
            li
              a(data-target="section.tab-pane#buddies", data-toggle="tab") Buddies
            li
              a(data-target="section.tab-pane#interests", data-toggle="tab") Interests
            li
              a(data-target="section.tab-pane#companies", data-toggle="tab") Companies

        section.tab-content#sections
            section.tab-pane.active#home
              section.row
                section.twelve.columns
                  blockquote {{{ user.bio }}}
                  i.hide.icon-edit

            section.tab-pane#info
              section.row
                section.twelve.columns
                  form.form-horizontal
                    fieldset
                      .control-group
                        label.control-label Birthday
                        .controls
                          span.input-small.uneditable-input {{ user.birthday }}
                          input.hide.input-small(type="text",id="birthday")
                      .control-group
                        label.control-label Full name
                        .controls
                          span.input-small.uneditable-input {{ user.name.first }}
                          input.hide.input-small(type="text",id="firstname")
                          span.input-small.uneditable-input {{ user.name.last }}
                          input.hide.input-small(type="text",id="lastname")
                      .control-group
                        label.control-label Genre
                        .controls
                          label.radio
                            input#genre-male(type='radio', name='genre', value='male', checked='')
                            | Male
                          label.radio
                            input#genre-female(type='radio', name='genre', value='female')
                            | Female

                      .control-group
                        label.control-label Hometown
                        .controls
                          span.input-large.uneditable-input {{ user.location.city }}
                          input.hide.input-small(type="text",id="hometown")



            section.tab-pane#buddies
                section.row
                  section.twelve.columns
                    h4 Buddies


  section.three.columns#right
    img(src="http://imakeapps.alwaysdata.net/playcdn/images/userpic.png",width="150px",height="150px")
    button.button.btn Add as Friend
    button.button.btn Message
    button.button.btn Invite