section.span12
  #wait.hide
    h2 Your account is being created
    p Please, wait a moment...
    br
    section#loader(style="text-align:center;")
      span Loading
      span.l-1
      span.l-2
      span.l-3
      span.l-4
      span.l-5
      span.l-6  

  #finish.hide
    h2 Welcome to Play
    p Now you have a user and about to have some fun!
    p Good luck while enjoying the network!

  #problem.hide
    h3 Problem!
    h4 We are experiencing technical problems. Please try again later.

  form.form-horizontal#register

    .control-group#username-cg
      label.control-label(for="username") Username
      .controls
        .input-append
          input(type="text")#username
          span.add-on#ok
            i.icon-ok
          span.add-on#error
            i.icon-remove

        p.help-block#message Any username starting with a letter will do.

    .control-group#password-cg
      label.control-label(for="password") Password
      .controls
        .input-append
          input(type="text")#password
          span.add-on#ok
            i.icon-ok
          span.add-on#error
            i.icon-remove

        p.help-block#message Minimum 8 alphanumeric characters.

    .control-group#email-cg
      label.control-label(for="email") Email
      .controls.hide-for-small
        .input-append
          input(type="text")#email
          span.add-on#ok
            i.icon-ok
          span.add-on#error
            i.icon-remove
        p.help-block#message Valid email for account activation.

    .control-group#birthday-cg
      label.control-label(for="birthday") Birthday
      .controls
        .input-append
          input(type="text")#birthday
          span.label-icon#ok
            i.icon-ok
          span.label-icon#error
            i.icon-remove            

        p.help-block#message Only 16+ please :)

    div#map(width="200px", height="180px")

    .control-group#location-cg
      label.control-label(for="username") Current location
      .controls      
        .input-append
          input#location(type="text",placeholder="Where's Carmen San Diego?")
          span.add-on#ok
            i.icon-ok
          span.add-on#error
            i.icon-remove
              
        p.help-block Geolocation isn't always accurate.

    .control-group
      .controls      
        button.btn.disabled.btn-success#register Let's do this!
        button.btn.right#back Go back