section.row#profile-edit
  form.form-horizontal
    section.six.columns#first-column  

      form.form-horizontal
        legend General Settings

        .control-group
          label.control-label Use Gravatar?
          .controls
            label.radio Yes
              input(type="radio", name="gender", value="true")#male
              
            label.radio No
              input(type="radio", name="gender", value="false")#female
              
    section.six.columns#second-column
      form.form-horizontal
        legend Geolocation Settings
        .control-group
        label.control-label Enable Geolocation
        .controls
          label.radio Yes
            input(type="radio", name="gender", value="true")#male
            
          label.radio No
            input(type="radio", name="gender", value="false")#female
        .control-group
        label.control-label Auto Relocate
        .controls
          label.radio Yes
            input(type="radio", name="gender", value="true")#male
            
          label.radio No
            input(type="radio", name="gender", value="false")#female

      form.form-horizontal
        legend Privacy Settings
        .control-group
        label.control-label Show my real name
        .controls
          label.radio Yes
            input(type="radio", name="gender", value="true")#male
            
          label.radio No
            input(type="radio", name="gender", value="false")#female