form.form-horizontal
  .control-group
    label.control-label(for='recipient') Recipient
    .controls
      input#recipient(type='text')

  .control-group
    label.control-label(for='subject') Subject
    .controls
      input#subject(type='text')

  .control-group
    label.control-label(for='body') 
    .controls
      textarea#body
