
section.navbar-inner
  section.container(style="width: auto;")      
   
    a.brand(href="/") Play

    ul.nav#menu
      li.active
        a(href="/events",data-toggle="tab")
          i.icon-play.icon-white
      li
        a(href="/profile",data-toggle="tab")
          i.icon-user.icon-white
      li
        a(href="/messages",data-toggle="tab")
          i.icon-comment.icon-white
      li
        a(href="/settings",data-toggle="tab")
          i.icon-cog.icon-white

      li.divider-vertical#submenu

    form(action="").navbar-search.form-search.pull-right#nav-search
      input(type="text", placeholder="Search").search-query.span3
      span.add-on#search-icon
        i.icon-search
      a(href="/signout")#logoff
        i.icon-off.icon-white



    section.tab-content#submenu
      section.tab-pane.active#events
        ul.nav
          li.active
            a(href="#today") Today
          li
            a(href="#nightlife") Nightlife                
          li
            a(href="#shows") Shows
          li
            a(href="#art") Art
          li
            a(href="#sports") Sports
          li
            a(href="#culinary") Culinary
          li
            a(href="#buzz") Buzz

      section.tab-pane#profile
        ul.nav
          li.active
            a(href="#me") Me              
          li
            a(href="#buddies") Buddies
          li
            a(href="#companies") Companies
          li
            a(href="#activity") Activity
    
      section.tab-pane#messages
        ul.nav
          li.active
            a(href="#all") Messages
          li
            a(href="#invitations") Invitations

      section.tab-pane#settings
        ul.nav
          li.active
            a(href="#privacy") Privacy                
          li
            a(href="#geolocation") Geolocation
          li
            a(href="#notifications") Notifications
          li
            a(href="#account") Account