!!! 5
html
  head
    meta(charset="utf-8")
    title Play Canada - Entertainment Lifestyle Network
    meta(name='keywords', content='Play Lifestyle, Play Life Style, Play Canada')
    meta(name='description', description='It\'s your play ground.')      

    script(src="http://maps.google.com/maps/api/js?libraries=places&sensor=true")      
    
    != SocketStream
  
  body
    section.row#navigation
      .twelve.columns.hide-for-small#content Menu        
      
    section.row#header
      .twelve.columns#content
        img(src='/_images/logo.png')#logo

    section.row#body-splited
      .three.columns#side
      .nine.columns#main

    section.row#body
      .twelve.columns#full

    section.row#footer
      .twelve.columns.centered#content Play Canada 2010 &copy; All Rights Reserved

    #modals    