!!! 5
html
  head
    meta(charset="utf-8")
    title Play Lifestyle Network
    meta(name='keywords', content='Play Lifestyle, Play Life Style, Play Canada')
    meta(name='description', description='It\'s your play ground.')      
    != SocketStream
    script(src="http://maps.google.com/maps/api/js?libraries=places&sensor=true")      
  
  body
    section.row-fluid#header
      section.span4#logo
        img(src='/images/logo.png')
      section.span8#space
      section.span4#login
        
    .row-fluid
      .span2
        #side
      .span10
        #main
    .row-fluid
      .span12
        #full
    .row-fluid
      .span12
        #footer Play Canada 2010 &copy; All Rights Reserved
    #modals    