section.tab.well
  header.profile
    img(src="/images/userpic.png")
    section.heading
      h1 Full Name
      h6 Username
    section.actions
      button.btn.button-primary Message me
      button.btn.button-primary Invite me

  .container#profile-subtabs

    ul.nav.nav-tabs
      li.active
        a(data-target="#home", data-toggle="tab") Home
      li
        a(data-target="#info", data-toggle="tab") Info
      li
        a(data-target="#interests", data-toggle="tab") Interests
      li
        a(data-target="#partof", data-toggle="tab") Part of
      li
        a(data-target="#friends", data-toggle="tab") Friends
      li
        a(data-target="#meetings", data-toggle="tab") Meetings/Events

   
    section.tab-content
      section.tab-pane.active#home
        section.row
          section.eleven.columns.centered.well2


            section.twelve.columns
              h4 Short Bio
              blockquote I was born with a bad sign, left down in the cold. I'm a lonely man who knows to lose control.
              h4 Hometown: Calgary, Alberta
              h4 Occupation: CEO &amp; DJ @ 
                a Play
                        
            section.four.columns.well#pictures
              h3 Latest pictures
              section.twelve.columns.well#latest-pictures
                img(src="/images/userpic.png")
                img(src="/images/userpic.png")
                img(src="/images/userpic.png")
                img(src="/images/userpic.png")
                img(src="/images/userpic.png")
                img(src="/images/userpic.png")
                img(src="/images/userpic.png")
                img(src="/images/userpic.png")
                img(src="/images/userpic.png")
                img(src="/images/userpic.png")
                img(src="/images/userpic.png")
                img(src="/images/userpic.png")
            
            section.four.columns.well#interests-preview
              h3 Interests preview
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
            section.four.columns.well#partof-preview
              h3 Part of preview     
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
              img(src="/images/userpic.png")
            section.row
              section.ten.columns.centered
                section.six.columns.well
                  h3 Events Feed
                  h5 Jeremie assisted to 
                    a Nightwatch Club Mega Party                
                  h5 Jeremie was invited to 
                    a Nightwatch Club Mega Party                
                  h5 Jeremie was invited to 
                    a Nightwatch Club Mega Party                
                  h5 Jeremie was invited to 
                    a Nightwatch Club Mega Party                
                  h5 Jeremie was invited to 
                    a Nightwatch Club Mega Party                
                  h5 Jeremie was invited to 
                    a Nightwatch Club Mega Party                
                  h5 Jeremie was invited to 
                    a Nightwatch Club Mega Party                
                  h5 Jeremie was invited to 
                    a Nightwatch Club Mega Party                
                  h5 Jeremie assisted to 
                    a Nightwatch Club Mega Party                
                  h5 Jeremie assisted to 
                    a Nightwatch Club Mega Party                
                  h5 Jeremie assisted to 
                    a Nightwatch Club Mega Party                
                  h5 Jeremie assisted to 
                    a Nightwatch Club Mega Party                
                  h5 Jeremie assisted to 
                    a Nightwatch Club Mega Party                
                  h5 Jeremie assisted to 
                    a Nightwatch Club Mega Party                
                  h5 Jeremie assisted to 
                    a Nightwatch Club Mega Party                
                  h5 Jeremie assisted to 
                    a Nightwatch Club Mega Party                
                section.six.columns.well
                  h3 Activity Feed
                  h5 Jeremie liked 
                    a Leandro's presentation
                  h5 Jeremie was 
                    a tagged 
                    in a 
                    a photo
                  h5 Jeremie liked 
                    a Leandro's presentation
                  h5 Jeremie was 
                    a tagged 
                    in a 
                    a photo
                  h5 Jeremie liked 
                    a Leandro's presentation
                  h5 Jeremie was 
                    a tagged 
                    in a 
                    a photo
                  h5 Jeremie liked 
                    a Leandro's presentation
                  h5 Jeremie was 
                    a tagged 
                    in a 
                    a photo
                  h5 Jeremie liked 
                    a Leandro's presentation
                  h5 Jeremie was 
                    a tagged 
                    in a 
                    a photo
                  h5 Jeremie liked 
                    a Leandro's presentation
                  h5 Jeremie was 
                    a tagged 
                    in a 
                    a photo
                  h5 Jeremie liked 
                    a Leandro's presentation
                  h5 Jeremie was 
                    a tagged 
                    in a 
                    a photo
                  h5 Jeremie liked 
                    a Leandro's presentation
                  h5 Jeremie was 
                    a tagged 
                    in a 
                    a photo


      section.tab-pane#info
        section.row
            section.eleven.columns.centered.well2 
              h3 I am 
                i male 
                i.icon-pencil 
                i.icon-eye-open

              h3 I was born on the
                i 28th September, 1991
                i.icon-pencil 
                i.icon-eye-open

              blockquote I am 
                i male 
                i.icon-pencil 
                i.icon-eye-open

              h3 I am 
                i single 
                i.icon-pencil 
                i.icon-eye-open

              h3 My phone number is 
                i +54 0381 425 67 25 
                i.icon-pencil 
                i.icon-eye-open

              h3 My email address is 
                i
                  a(href="mailto: j.durand@playlifestyle.com") j.durand@playlifestyle.com 
                i.icon-pencil 
                i.icon-eye-open

              h3 My website is 
                i 
                  a(href="http://playlifestyle.jit.su/") PlayLifestyle 
                i.icon-pencil 
                i.icon-eye-open

              h3 I am 
                i CEO 
                @
                i Play Canada 
                i.icon-pencil 
                i.icon-eye-open

      section.tab-pane#interests 
        section.row
            section.eleven.columns.centered.well2 Interests
      section.tab-pane#partof
        section.row
            section.eleven.columns.centered.well2 Not available yet
      section.tab-pane#friends 
        section.row
            section.eleven.columns.centered.well2 Not available yet
      section.tab-pane#meetings         
        section.row
            section.eleven.columns.centered.well2 Not available yet

  footer.profile