form.form-horizontal#signup-2

  div#map(width="200px", height="180px")

  .control-group#location-cg
    label.control-label(for="username") Current location
    .controls      
      .input-append
        input.input-large#location(type="text",placeholder="Where are you now then?")
        span.add-on#ok
          i.icon-ok
        span.add-on#error
          i.icon-remove
            
      p.help-block Thou we try our best, geolocation isn't perfect yet.

  .control-group
    .controls      
      button.button.btn-warning#change Wait a second, that's not me!
