form.form-horizontal#signup-2

  .control-group#locate
    canvas#google(width="600px", height="300px")

  .control-group#relocate
    .controls      
      .input-append
        input.input-large#location(type="text",placeholder="Where are you now then?")
        span.add-on#ok
          i.icon-ok
        span.add-on#error
          i.icon-remove
            
      p.help-block Any username starting with a letter will do.    

  .control-group
    button.btn.btn-warning#decline Wait a second, that's not me!
