form.form-horizontal#signup-1

  .control-group#username-cg
    label.control-label(for="username") Username
    .controls      
      .input-append
        input(type="text").input-large#username
        span.add-on#ok
          i.icon-ok
        span.add-on#error
          i.icon-remove

      p.help-block Any username starting with a letter will do.

  .control-group#email-cg
    label.control-label(for="email") Email
    .controls
      .input-append
        input(type="text").input-large#email
        span.add-on#ok
          i.icon-ok
        span.add-on#error
          i.icon-remove
      p.help-block Please enter a valid email for account activation.

  .control-group#birthday-cg
    label.control-label(for="birthday") Birthday
    .controls
      .input-append
        input(type="text").input-large#birthday
        span.add-on#ok
          i.icon-ok
        span.add-on#error
          i.icon-remove
      p.help-block Only 16+
