form.well#signin
  h2 Sign in
  p
    #error-login
  p    
    input.input-medium#username(type="text",placeholder="jackomaloso")
  p
    input.input-medium#password(type="password",placeholder="**********")
  p
    button#login.btn Sign in
  p
    a#register(href="/signup/begin") Not a user yet? Sign up!