form#signin

  .control-group#error-cg
    .controls
      p
        #error

  .control-group#username-cg
    label.control-label(for="username") Username
    .controls      
      .input-append
        input(type="text", placeholder="JackoMaloso").input-medium#username

  .control-group#password-cg
    label.control-label(for="password") Password
    .controls
      .input-append
        input(type="password").input-medium#password

  .control-group#login-cg
    .controls
      button#login.btn Sign in
      span#separator or
      button#register.btn Sign up