form#signin

  fieldset.row

    section#errors

    section.eight.column
      input(type="text", placeholder="JackoMaloso")#username
      input(type="password",placeholder="**********")#password
    section.four.column
      button#login.button Go!
      button#register.button.show-for-small Register now!
      p
        a(href="#") Can't login?