form.well#sign-in
  h2 Sign in
  p
    #error-login
  p    
    input.input-medium#user(type="text",placeholder="john@playlifestyle.com")
  p
    input.input-medium#pass(type="password",placeholder="**********")
  p
    button#login.btn Sign in
  p
    a#register(href="/signup/begin") Not a user yet? Sign up!