dl.tabs
  dd.active
    a(href="#upcoming") Upcoming Events
  dd
    a(href="#top") Top Events
  dd.hide-for-small
    a(href="#worst") Worst Events

ul.tabs-content
  li.active#upcomingTab
    p Upcoming Events...
  li#topTab
    p Top Events...
  li.hide-for-small#worstTab
    p Worst Events...