dl.tabs
  dd.active
    a(href="#upcoming") Upcoming Events
  dd
    a(href="#top") Top Events
  dd.hide-for-small
    a(href="#worst") Featured Events
  dd.hide-for-medium.hide-for-small
    a(href="#worst") Worst Events

ul.tabs-content

  li.active#upcomingTab.show-for-small
    article.row
      section.two.columns#image
        img(src="/images/userpic.png")
      section.two.columns#description
        h5 Devil Rock Off
        p Be ready to get your brain melt and your socks rocked!
    article.row
      section.two.columns#image
        img(src="/images/userpic.png")
      section.two.columns#description
        h5 Devil Rock Off
        p Be ready to get your brain melt and your socks rocked!
    article.row
      section.two.columns#image
        img(src="/images/userpic.png")
      section.two.columns#description
        h5 Devil Rock Off
        p Be ready to get your brain melt and your socks rocked!
    article.row
      section.two.columns#image
        img(src="/images/userpic.png")
      section.two.columns#description
        h5 Devil Rock Off
        p Be ready to get your brain melt and your socks rocked!
    article.row
      section.two.columns#image
        img(src="/images/userpic.png")
      section.two.columns#description
        h5 Devil Rock Off
        p Be ready to get your brain melt and your socks rocked!
    article.row
      section.two.columns#image
        img(src="/images/userpic.png")
      section.two.columns#description
        h5 Devil Rock Off
        p Be ready to get your brain melt and your socks rocked!

  li.active#upcomingTab.hide-for-small
    article.row
      section.three.columns#image
        img(src="/images/userpic.png",width="100%",height="100%")
      section.nine.columns#description
        h5 Devil Rock Off
        p Be ready to get your brain melt and your socks rocked!

    article.row
      section.three.columns#image
        img(src="/images/userpic.png",width="100%",height="100%")
      section.nine.columns#description
        h5 Devil Rock Off
        p Be ready to get your brain melt and your socks rocked!

    article.row
      section.three.columns#image
        img(src="/images/userpic.png",width="100%",height="100%")
      section.nine.columns#description
        h5 Devil Rock Off
        p Be ready to get your brain melt and your socks rocked!

    article.row
      section.three.columns#image
        img(src="/images/userpic.png",width="100%",height="100%")
      section.nine.columns#description
        h5 Devil Rock Off
        p Be ready to get your brain melt and your socks rocked!

    article.row
      section.three.columns#image
        img(src="/images/userpic.png",width="100%",height="100%")
      section.nine.columns#description
        h5 Devil Rock Off
        p Be ready to get your brain melt and your socks rocked!

    article.row
      section.three.columns#image
        img(src="/images/userpic.png",width="100%",height="100%")
      section.nine.columns#description
        h5 Devil Rock Off
        p Be ready to get your brain melt and your socks rocked!

    article.row
      section.three.columns#image
        img(src="/images/userpic.png",width="100%",height="100%")
      section.nine.columns#description
        h5 Devil Rock Off
        p Be ready to get your brain melt and your socks rocked!

    article.row
      section.three.columns#image
        img(src="/images/userpic.png",width="100%",height="100%")
      section.nine.columns#description
        h5 Devil Rock Off
        p Be ready to get your brain melt and your socks rocked!

    article.row
      section.three.columns#image
        img(src="/images/userpic.png",width="100%",height="100%")
      section.nine.columns#description
        h5 Devil Rock Off
        p Be ready to get your brain melt and your socks rocked!