//
   Global Navigation 
.navbar
  .navbar-inner
    .container
      //
         Responsive navigation-toggle button 
      a.btn.btn-navbar.btn-widget(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      //
         Navigation items 
      .nav-collapse#index-login
        ul.nav
          li            
            form.well.form-inline#index-login-form
              span Already a user? 
              input.input-small(type='text', placeholder='Email')
              input.input-small(type='password', placeholder='Password')
              button.btn(type='submit') Sign in

      //
         .nav-collapse 
    //
       .container 
  //
     .navbar-inner 
//
   .navbar 
#header
  a(href='/')
    img(src='./images/logo.png')

#sidebar.register
  h2 Register now

  #sign-up-1
  #sign-up-2
  #sign-up-3
    h3 Your account is being created
    h4 Please, wait a moment...
    br
    img(src="/images/loader.gif")

#main-content.register
  h2 Before you register

  p Some text or images about registering. Perhaps slides about the benefits or using the network.