form#sign-up-2

  fieldset.control-group
    h3 Geo-Localization

  fieldset.control-group#locate
    canvas#google(width="600px", height="300px")

  fieldset.control-group#relocate
    #float-right.offset3
      i.icon-remove-sign#error-location
      i.icon-ok-sign#ok-location

    input.span3#location(type="text",placeholder="Where are you now then?")

  fieldset.control-group
    button.btn.btn-primary#confirm Continue

    button.btn.btn-warning#decline Wait a second, that's not me!