form.well#sign-in
  h2 Sign in
  p
    #error-login
  p    
    input.span-4#user(type="text",placeholder="john@playlifestyle.com")
  p
    input.span-4#pass(type="password",placeholder="**********")
  p
    button#login.btn Sign in
  p
    a(href="/signup") Not a user yet? Sign up!