.modal-header#header
  a#close.close(data-dismiss="modal") &times;
  h5#title Claim your username now!

.modal-body#body
  p If you see this then something is just wrong

.modal-footer#footer
  button.button.disabled.pull-right#next(href="#")
    span Next 
    i.icon-arrow-right