.modal-header#header
  a#close.close(data-dismiss="modal") &times;
  h5#title Claim your username now!

.modal-body#body
  p If you see this then something is just wrong

.modal-footer#footer
  h6#steps Step 1/2
  button.btn.disabled#next(href="#")
    span Next 
    i.icon-arrow-right