#header
  h3#title Claim your username now!

#body
  p If you see this then something is just wrong

#footer
  h4#steps Step 1/6
  button.btn.disabled#next(href="#")
    span Next 
    i.icon-arrow-right