.nav-collapse
  ul.nav
    li.home
      a(href='/tutorial/begin')
        img(src='/images/ico-home.png')
    li
      a(href='/tutorial/1') #1 Avatar
    li
      a(href='/tutorial/2') #2 Gender
    li
      a(href='/tutorial/3') #3 Anniversaries
    li
      a(href='/tutorial/4') #4 Bio
    li
      a(href='/tutorial/5') #5 Status
    li
      a(href='/tutorial/6') #6 Interests
    li
      a(href='/tutorial/7') #7 Contact
    li
      a(href='/tutorial/finish') Finish