#header.container
.logo-section.span3
  a(href='/')
    img#logo(src='/images/logo.png')
//
   .row 
.interface-section.span7
  .user-alerts
    ul.user-alerts-menu
      li.last
        img(src='/images/ico-message.png')
        a(href='#') Messages
      li
        img(src='/images/ico-notification.png')
        a(href='#') Notifications
  //
     .user-alerts 
  .user-ui
    ul.nav.pull-right
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown', style="margin-top: -17px;")
          i.caret
        ul.dropdown-menu.user-ui-menu
          li
            img(src='/images/ico-logout.png')
            a(href='/signout') Logout
          li
            img(src='/images/ico-settings.png')
            a(href='#') My Settings