section.navbar
  section.navbar-inner
    section.container(style="width: auto;")      
     
      a.brand(href="#") Play

      ul.nav
        li.active
          a(href="#") Events
        li
          a(href="#") Profile
        li
          a(href="#") Settings

      form(action="").navbar-search.pull-right
        input(type="text", placeholder="Search").search-query.span2