section.navbar
  section.navbar-inner
    section.container(style="width: auto;")      
     
      a.brand(href="#") Play

      ul.nav
        li.active
          a(href="#1",data-toggle="tab")
            i.icon-play.icon-white
        li
          a(href="#2",data-toggle="tab")
            i.icon-user.icon-white
        li
          a(href="#3",data-toggle="tab")
            i.icon-comment.icon-white
        li
          a(href="#4",data-toggle="tab")
            i.icon-cog.icon-white

        li.divider-vertical#submenu

      form(action="").navbar-search.form-search.pull-right#nav-search
        input(type="text", placeholder="Search").search-query.span3
        span.add-on#search-icon
          i.icon-search
        a(href="/signout")#logoff
          i.icon-off.icon-white



      section.tab-content#submenu
        section.tab-pane.active#1
          ul.nav
            li.active
              a(href="#0") Today
            li
              a(href="#1") Nightlife                
            li
              a(href="#2") Shows
            li
              a(href="#3") Art
            li
              a(href="#4") Sports
            li
              a(href="#5") Culinary
            li
              a(href="#6") Buzz

        section.tab-pane#2
          ul.nav
            li.active
              a(href="#1") i                
            li
              a(href="#2") Buddies
            li
              a(href="#3") Companies
            li
              a(href="#4") Activity
      
        section.tab-pane#3
          ul.nav
            li.active
              a(href="#1") Inbox                
            li
              a(href="#2") Outbox
            li
              a(href="#3") Compose
            li
              a(href="#4") Invitations

        section.tab-pane#4
          ul.nav
            li.active
              a(href="#1") Privacy                
            li
              a(href="#2") Geolocation
            li
              a(href="#3") Notifications
            li
              a(href="#4") Account