.nav-collapse
  ul.nav
    li.home
      a(href='#')
        img(src='/images/ico-home.png')
    li
      a(href='#') Active
    li
      a(href='#') Arts/Photography
    li
      a(href='#') Culinary
    li
      a(href='#') Fashion
    li
      a(href='#') Buzz
    li
      a(href='#') Music
    li
      a(href='#') Nightlife/Concerts
    li
      a(href='#') Sports
    li
      a(href='#') Travel