//
   Global Navigation 
.navbar
  .navbar-inner
    .container
      //
         Responsive navigation-toggle button 
      a.btn.btn-navbar.btn-widget(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      //
         Navigation items 
      .nav-collapse
        ul.nav
          li.home
            a(href='#')
              img(src='./images/ico-home.png')
          li
            a(href='#') Active
          li
            a(href='#') Arts/Photography
          li
            a(href='#') Culinary
          li
            a(href='#') Fashion
          li
            a(href='#') Buzz
          li
            a(href='#') Music
          li
            a(href='#') Nightlife/Concerts
          li
            a(href='#') Sports
          li
            a(href='#') Travel
      //
         .nav-collapse 
    //
       .container 
  //
     .navbar-inner 
//
   .navbar 
//
 Header 
#header.container
.logo-section.span3
  a(href='/')
    img#logo(src='./images/logo.png')
//
   .row 
.interface-section.span7
  .user-alerts
    ul.user-alerts-menu
      li.last
        img(src='./images/ico-message.png')
        a(href='#') Messages
      li
        img(src='./images/ico-notification.png')
        a(href='#') Notifications
  //
     .user-alerts 
  .user-ui
    ul.nav.pull-right
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.caret
        ul.dropdown-menu.user-ui-menu
          li
            img(src='./images/ico-logout.png')
            a(href='#') Logout
          li
            img(src='./images/ico-settings.png')
            a(href='#') My Settings
  //
     .user-ui 
//
   .interface-section 
//
 #header 
#page-content.container
#sidebar
  //
     Responsive sidebar-toggle button 
  a.btn.btn-navbar.btn-navbar-user(data-toggle='collapse', data-target='.sidebar-content')
    span.icon-user.icon-white
  .sidebar-content.collapse.in
    .user-profile.sidebar-block
      img(src='./images/userpic.gif')
      a.user-name-link(href='#') {{ user.name }}
      span.user-location {{ user.location }}
      a.change-city(href='#') Change City
    //
       .user-profile 
    .friends-list.sidebar-block
      h3
        | FRIENDS
        img(src='./images/ico-collapse.png')
      span.message You have no friends to display.
    //
       .friends-list 
    .meeting-spots.sidebar-block
      h3
        | MY MEETING SPOTS
        img(src='./images/ico-collapse.png')
      span.message You have no upcoming events or meeting spots.
    //
       .meeting-spots 
    .activity-feeds.sidebar-block
      ul
        li.active
          a(href='#') USER ACTIVITY
        li
          a(href='#') NETWORK ACTIVITY
      span.message There is no activity to display.
    //
       .activity-feeds 
  //
     .sidebar-content 
//
   #sidebar 
#main-content
  h2 HOME / HIGHLIGHTS
  .row
    .span4.content-block.featured
      h3 FEATURED
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    .span3.content-block
      h3 NIGHTLIFE/CONCERTS
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    .span2.content-block
      h3 CULINARY
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
  .row
    .span2.content-block
      h3 SHOPPING
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    .span4.content-block
      h3 SPORTS
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    .span3.content-block
      h3 BUZZ
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
  .row
    .span4.content-block
      h3 MUSIC
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    .span5.content-block
      h3 ARTS/PHOTOGRAPHY
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
  .row
    .span4.content-block
      h3 TRAVEL
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    .span5.content-block
      h3 ACTIVE
      .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
  //
     .row 
//